@font-face {
    font-family: 'Nexa';
    src: url('Nexa-Bold.woff2') format('woff2'),
        url('Nexa-Bold.woff') format('woff'),
        url('Nexa-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Nexa Book';
    src: url('Nexa-Book.woff2') format('woff2'),
        url('Nexa-Book.woff') format('woff'),
        url('Nexa-Book.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Nexa';
    src: url('Nexa-Black.woff2') format('woff2'),
        url('Nexa-Black.woff') format('woff'),
        url('Nexa-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Nexa';
    src: url('Nexa-Heavy.woff2') format('woff2'),
        url('Nexa-Heavy.woff') format('woff'),
        url('Nexa-Heavy.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Nexa';
    src: url('Nexa-Light.woff2') format('woff2'),
        url('Nexa-Light.woff') format('woff'),
        url('Nexa-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Nexa';
    src: url('Nexa-Regular.woff2') format('woff2'),
        url('Nexa-Regular.woff') format('woff'),
        url('Nexa-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Nexa XBold';
    src: url('Nexa-XBold.woff2') format('woff2'),
        url('Nexa-XBold.woff') format('woff'),
        url('Nexa-XBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

